.text-area{
 -fx-background-color: transparent;
 -fx-text-fill: #F5FFFA;
}
.text-area .content{
     -fx-background-color: #292929;
     -fx-background-insets: 0;
     -fx-background-radius: 0;
}
.text-area .text{
-fx-font-size: 14px;
}
.text-area .text-error{
-fx-font-size: 14px;
-fx-text-fill: #F50000;

}

