

/* Стиль для самого текста (если нужно глобальное изменение) */
.style-classed-text-area .text {
    -fx-fill: #F5FFFA;


}

.style-classed-text-area .caret {
    -fx-stroke: #808080;
    -fx-stroke-width: 1px;
}
.dark{
 -fx-fill: #292929 !important;
}
.blue {
    -fx-fill: #0000FF !important;
}
.red {
    -fx-fill: #FF0000 !important;
}
.yellow {
    -fx-fill: #FFFF00 !important;
}
.white {
    -fx-fill: #F5FFFA !important;
}
.green {
 -fx-fill: #008000 !important;
}
.purple{
 -fx-fill: #800080 !important;
}
.orange{
-fx-fill: #FF8C00 !important;

}
.highlight-error {
    -fx-fill: #F40000 !important;
    
}